Brotli==1.0.9
cffi==1.15.1
charset-normalizer==3.1.0
coloredlogs==15.0.1
cryptography==40.0.1
cssselect2==0.7.0
deprecation==2.1.0
fonttools==4.39.3
html5lib==1.1
humanfriendly==10.0
img2pdf==0.4.4
lxml==4.9.2
ocrmypdf==14.0.4
packaging==23.0
pdfminer.six==20221105
pikepdf==7.1.2
Pillow==9.4.0
pluggy==1.0.0
pycparser==2.21
pydyf==0.5.0
PyPDF2==3.0.1
pyphen==0.14.0
pytesseract==0.3.10
reportlab==3.6.12
six==1.16.0
tinycss2==1.2.1
tqdm==4.65.0
Wand==0.6.11
weasyprint==58.1
webencodings==0.5.1
zopfli==0.2.2
